@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto", sans-serif !important;

}

   $main-color:#19283F;
    $first-color:#FFC400;
    $second-color:#33D1CC;
    $section-color:#EFF7FA;
    $btn-color:#FF3150;
